kook_key = 'XXXXXXXX' # Webhook mode with encrpytion
verify_token = 'XXXXXXXXXX' # Webhook mode
token = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' # Websocket mode
super_admin = ['username#0000'] # List of sudo users
super_admin = [a.lower() for a in super_admin]